<!-- Modal -->
<div id="vacation_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button  type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">إضافة إجازة</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <div class="subjects new">
          <h2>إضافة إجازة</h2>

          <%= form_for(:vacation, :url => {:controller => 'vacations' ,:action => 'create' , :customer_id => @customer.id}) do |f| %>

            <%= render(:partial => "form_vacation", :locals => {:f => f}) %>

            <div class="form-buttons">
              <%= submit_tag("إنشاء") %>
            </div>

          <% end %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>