<% @page_title = "تعديل بيانات عنصر" %>

<%= link_to('<< العودة إلى القائمة', {:action => 'index', :term => params['term']}, :class => 'back-link') %>

<div class="customers edit">
  <h2>تعديل بيانات عنصر</h2>

  <%= form_for(:customer, :url => {:action => 'update', :customer_id => @customer.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("تعديل") %>
    </div>

  <% end %>
</div>
